<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/de287d12-47d1-403c-b77f-689adbd196ed/resourceGroups/AzureBootCampMexico2019/providers/Microsoft.Web/sites/HelperAPILog</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://helperapilog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>helperapilog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HelperAPILog</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HelperAPILog</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>